#r{
	font-family: fantasy;
	text-align: center;
	background-color: burlywood;
	color: black;
	padding: 7px;
	image-rendering: 10px;
}

p{
	font-family: sans-serif;
	margin-left: 100px;
	margin-right: 100px;
}

th, td {
  padding: 15px;
  text-align: left;
  height: 30px;
  text-align: center;
  border-bottom: 10px solid #ded;
}

td{
	font-family: serif;
	font-size: 17px;
  font-style: italic;
}

td:hover {background-color: skyblue;}

table {
  width: 80%;
  border-collapse: collapse;
}

#th1
{
	background-color: darkkhaki;	
	font-style: bold;
	font-family: inherit;
	font-size: 19px;
}

#navbarsExample08
{
	padding: 5px;
}

#para1
{
	text-align: center; 
	font-size: xx-large;
	color: wheat;
	background-color: mediumaquamarine;
}

#head2{
	background-color: lightgrey;
	padding: 10px;
}

#c1
{
	font-family: monospace;
	color: black;
	text-align: center; 
	background-color: tan;
}
body {
  background-color: whitesmoke;
}
ul{
	list-style: none;
}

li{
	display: inline;
	margin: 130px;
}

li a{
	color: white;
	text-decoration: blink;
	font-family: cursive;
}

li a:hover{
	color: palegoldenrod; 
	text-decoration: underline;
	font-family: cursive;
}

footer{
	padding: 10px;
	margin-top: 10px;
	background-color: bisque;
	color: black;
}

#foot1{
	color: darkred;
}

.services_column{
	padding: 20px;
	text-align: center;
}
  
#foot2{
	text-align: right;
}
#foot3
{
	text-align: center;
}
